.nav_link{
    color:#EFEDFF;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
     
.nav_link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #59DF72;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav_link:hover::after {
  transform: scaleX(1.1);
  transform-origin: bottom left;
}

.activeNav {
  /* Your styles for the active link, e.g., underline or color */
  border-bottom: 2px solid #59df72;
  /* color: #59DF72; */
}